{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="row pb-3">
    <div class="col-md-10">
        <h2>Lista de produtos</h2>
    </div>
    <div class="col-md-2">
        <a href="{% url 'produtoNew' %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true"><i
                class="fa-solid fa-circle-plus"></i> Adicionar</a>
    </div>
</div>
<div>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th class="pl-3" scope="col">Nome</th>
                <th scope="col">Categoria</th>
                <th scope="col">Marca</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Peso líq (g)</th>
                <th scope="col">Preço de custo</th>
                <th scope="col">Preço de venda</th>
                <th scope="col">Estoque mínimo</th>
                <th class="text-right pr-3" scope="col">Ações</th> 
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td class="pl-3" scope="row">{{produto.nome}}</td>
                <td scope="row">{{produto.categoria}}</td>
                <td scope="row">{{produto.marca}}</td>
                <td scope="row">{{produto.fornecedor}}</td>
                <td scope="row">{{produto.peso_liq}}</td>
                <td scope="row">{{produto.preco_custo}}</td>
                <td scope="row">{{produto.preco_venda}}</td>
                <td scope="row">{{produto.estoque_min}}</td>
                <td class="text-right pr-3" scope="row">
                    <a class="btn btn-warning btn-sm px-3" href="{% url 'produtoEdit' produto.pk %}"><i
                            class="fa-solid fa-edit fa-sm"></i></a>
                    <a class="btn btn-danger btn-sm px-3" href="{% url 'produtoDel' produto.pk %}"><i
                            class="fa-solid fa-trash fa-sm"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}