{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="row pb-3">
    <div class="col-md-10">
        <h2>Lista de fornecedor</h2>
    </div>
    <div class="col-md-2">
        <a href="{% url 'fornecedorNew' %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true"><i
                class="fa-solid fa-circle-plus"></i> Adicionar</a>
    </div>
</div>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th class="pl-3" scope="col">Nome</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Telefone</th>
                <th scope="col">E-mail</th>
                <th scope="col">Endereço</th>
                <th class="text-right pr-3" scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for fornecedor in fornecedores %}
            <tr>
                <td class="pl-3" scope="row">{{fornecedor.nome}}</td>
                <td scope="row">{{fornecedor.formatar_cnpj}}</td>
                <td scope="row">{{fornecedor.telefone}}</td>
                <td scope="row">{{fornecedor.email}}</td>
                <td scope="row">{{fornecedor.endereco}}</td>
                <td class="text-right pr-3" scope="row">
                    <a class="btn btn-warning btn-sm px-3" href="{% url 'fornecedorEdit' fornecedor.pk %}"><i
                            class="fa-solid fa-edit fa-sm"></i></a>
                    <a class="btn btn-danger btn-sm px-3" href="{% url 'fornecedorDel' fornecedor.pk %}"><i
                            class="fa-solid fa-trash fa-sm"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}