{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="row">
    <h1>Pessoas</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">E-mail</th>
                <th scope="col">Data de nascimento</th>
                <th scope="col">Sexo</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for pessoa in pessoas %}
            <tr>
                <td scope="row">{{pessoa.nome}}</td>
                <td scope="row">{{pessoa.telefone}}</td>
                <td scope="row">{{pessoa.email}}</td>
                <td scope="row">{{pessoa.data_nasc}}</td>
                <td scope="row">{{pessoa.sexo}}</td>
                <td scope="row">
                    <a class="btn btn-warning" href="{% url 'edit_pessoa' pessoa.pk %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'del_pessoa' pessoa.pk %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}