{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% bootstrap_css %}
    <title>BelezaSys</title>
    <style>
        .sidebar{
        background-color: #f5f5f5;
        padding-right: 20px;
        padding-top: 20px;
        min-height: calc(100vh - 50px);
}
    </style>
    <script src="https://kit.fontawesome.com/c194a9b594.js" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="/" class="navbar-brand ml-3"><h2>BelezaSys</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar5">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/admin/" class="btn btn-warning active" role="button" aria-pressed="true"><i
            class="fa-solid fa-cog"></i> Administração</a>
    </nav>
    <div class="container-fluid flex-grow-1 d-flex">
        <div class="row flex-fill flex-column flex-sm-row">
            <div class="col-sm-3 col-md-2 sidebar flex-shrink-1 bg-dark pt-3" id="Navbar">
                <ul class="nav flex-sm-column">
                    <li class="py-2"><a class="nav-link text-white bg-dark" href="{% url 'pessoaIndex' %}"><h4>Pessoas</h4></a></li>
                    <li class="py-2"><a class="nav-link text-white bg-dark" href="{% url 'produtoIndex' %}"><h4>Produtos</h4></a></li>
                    <li class="py-2"><a class="nav-link text-white bg-dark" href="{% url 'servicoIndex' %}"><h4>Serviços</h4></a></li>
                    <li class="py-2"><a class="nav-link text-white bg-dark" href="{% url 'fornecedorIndex' %}"><h4>Fornecedores</h4></a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 flex-grow-1 px-5 py-4">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>

</html>